<!-- <p>about works!</p> -->
<!-- <p>login works!</p> -->
<!-- <h1>This is login page</h1> -->
<app-myheader></app-myheader>
<div class="bootstrap-wrapper">
    <div class="container" >
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <mat-card class="my">
                    <img src="../../../assets/about1.png" alt="logo" width="220px" height="200px">
                    <br>
                    <br>
                    <h1 class="text-center">About Portal</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolore illo ipsa inventore! Iusto iure commodi et consequuntur sapiente placeat, quam praesentium laudantium nisi sit eius temporibus rem itaque esse.</p>  
                         <hr>
                        <h1 class="text-center">About Developer</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolore illo ipsa inventore! Iusto iure commodi et consequuntur sapiente placeat, quam praesentium laudantium nisi sit eius temporibus rem itaque esse.</p>

                        
            </mat-card>
                </div>
            </div>    
        </div>
    </div>
</div>
<!-- <app-footer class="mt"></app-footer> -->