<!-- Header -->
<app-header></app-header>


<!-- Products -->
<div class="container-fluid mt-5">


  <div class="row">
    <div class="col-lg-3 mb-4 px-2" *ngFor="let product of products" >

      <!-- <div class="card" *ngIf="errorMs[0] !== product.id; else elsepart"> -->
      <div class="card" *ngIf="!isFound(product.id); else elsepart">
        <img src={{product.imageName}} class="card-img-top product-card" alt="...">

        <!-- below image detail card -->
        <div class="card-body" >
          <a routerLink="/search/{{product.name}}">
            <h2 class="card-title">{{product.name}} <span class="badge badge-success">{{product.rating | number :
                '1.1-1'}}
                <i class="fas fa-star"></i></span></h2>
            <!-- <p class="card-text">{{product.description}}</p> -->
            <!-- <p class="card-text font-weight-bold">₹{{product.price}}</p> -->
          </a>

           <!-- <button type="button" class="btn btn-warning mr-4 mt-3" data-toggle="modal"
            attr.data-target="#wishmodel{{product.id}}">
            Add To wishlist
          </button>  -->

          <!-- Add to wishlist pop up -->
          <div class="modal fade" id="wishmodel{{product.id}}" >
            <div class="modal-dialog" role="document" >
              <div class="modal-content">
                <!-- popup header -->
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Add to Wishlist</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <!-- cross logo -->
                    <span aria-hidden="true">&times;</span> 
                  </button>
                </div>

                <div class="modal-body">
                  <form #wishForm="ngForm" (submit)="wishData(wishForm.value)" ngNativeValidate>
                    <input hidden type="text" name="productId" class="form-control" [(ngModel)]="product.id" required>
                    <div class="form-group">
                      <label for="quantity">Quantity</label>
                      <input type="number" name="quantity" class="form-control" ngModel="1" required min="1"
                      id="quan" #quan="ngModel">
                      <span *ngIf="quan.invalid" style="color:red">Quantity must be greater then 1</span>
                    </div>


                    <button [disabled]="wishForm.invalid" type="submit" class="btn btn-lg btn-block btn-warning">Add To wishlist</button>

                  </form>
                </div>

              </div>
            </div>
          </div>



            
          <button type="button" class="btn btn-success mt-3" data-toggle="modal"
            attr.data-target="#cartmodel{{product.id}}">
            Add To Cart
          </button>

          <!-- Modal -->
          <div class="modal fade" id="cartmodel{{product.id}}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Add to cart</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <!-- <form #basicForm="ngForm" (submit)="getData(basicForm.value)" ngNativeValidate> -->
                  <form #basicForm="ngForm" (submit)="formSubmit()" ngNativeValidate>
                    <!-- <input type="text" hidden name="productId" class="form-control" value="product.id" [(ngModel)]="product.id" required> -->
                    <div class="form-group">
                      <label for="quantity">Quantity</label>
                      <input type="number" name="quantity" class="form-control" min="1"  [(ngModel)]="formData.quantity" required id="quan" #quan="ngModel" pattern="[0-9]+"
                      >
                      <span *ngIf="quan.invalid" style="color:red">Quantity must be greater then 1</span>
                    </div>
                    <div class="form-group">
                      <label for="zip">Zip Code</label>
                      <input type="number" [(ngModel)]="formData.zipcode" name="zipcode" (click)="myValue(product.id)" class="form-control" id="zip" required
                        #zip="ngModel" pattern="[0-9]{6}"
                      >
                      <span *ngIf="zip.invalid && zip.touched" style="color:red">ZipCode must be 6 characters long.</span>
                      <!-- <div *ngIf="zipcode.errors?.['minlength']">
                        Name must be at least 4 characters long.
                      </div> -->
                    </div>

                    <button [disabled]="basicForm.invalid" type="submit" class="btn btn-lg btn-block btn-primary">Add To Cart</button>

                  </form>

                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <ng-template #elsepart>

        <div class="card">
          <img src={{product.imageName}} class=" card-img-top product-card" alt="...">
          <div class="card-body">
            <a routerLink="/search/{{product.name}}">
              <h2 class="card-title">{{product.name}} <span class="badge badge-success">{{product.rating | number :
                  '1.1-1'}}
                  <i class="fas fa-star"></i></span></h2>

              <!-- <p class="card-text font-weight-bold">₹{{product.price}}</p> -->

              <h3 class="text-danger">Out of stock</h3>
            </a>
            <button type="button" class="btn btn-warning mr-4 mt-3" data-toggle="modal"
              attr.data-target="#wishmodel{{product.id}}">
              Add To Wishlist
            </button>


            <div class="modal fade" id="wishmodel{{product.id}}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add to wishlist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <form #wishForm="ngForm" (submit)="wishData(wishForm.value)" ngNativeValidate>
                      <input hidden type="text" name="productId" class="form-control" [(ngModel)]="product.id" required>
                      <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" name="quantity" class="form-control" ngModel="1" required min="1"
                        id="quan" #quan="ngModel">
                        <span *ngIf="quan.invalid" style="color:red">Quantity must be greater then 1</span>
                      </div>


                      <button [disabled]="wishForm.invalid" type="submit" class="btn btn-lg btn-block btn-warning">Add To wishlist</button>

                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-template>
    </div>
  </div>



</div>
<app-footer></app-footer>
